<div class="container d-flex h-100">
  <div class="my-auto mx-auto text-center">
    <h2 class="text-center my-5">Juice Store</h2>
    <p class="text-center mb-5">
      Showcasing my skills in databases, back-end development, front-end design, and Bootstrap, I've made a simple demo online store for natural juices. It integrates seamless database functionality with decent front-end design, creating a seamless user experience for customers. My extensive knowledge of Golang and Bootstrap allowed me to create a responsive and mobile-friendly portfolio project that is both easy to navigate and also easy to interact with.
    </p>
  </div>
</div>

<div class="container d-flex h-100">
  <div class="my-auto mx-auto text-center">
    <div class="card-deck d-flex justify-content-center flex-wrap">
      {{range .products}}
      <div class="card {{ .ID }} mb-3" style="min-width: 250px; max-width: 250px;">
        <img class="card-img-top" src="{{ .Image }}" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ .Name }}</h5>
          <p class="card-text">{{ .Description }}</p>
          <a href="#" class="btn btn-info">Price: {{ .Price }}$</a>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>

<style>
  .container {
    height: 100vh;
  }
</style>
<br><br><br><br>
