<!DOCTYPE html>
<html>
<head>
  <title>{{ .title }}</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    /* Customize primary color to purple */
    .btn-primary, .badge-primary {
      background-color: #8a2be2;
      border-color: #8a2be2;
    }
    /* Customize body background color */
    body {
        background-color: #e3e3e3;
    }
    /* Center align cards in body */
    .card-deck {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  </style>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Juice Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Products</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
